.edituser-header {
    margin-top: 15px;
    color: #6f3a8a;
    font-weight: bold;
}

.edituser-label {
    color: #f46523;
    font-weight: bold;
}

.edituser-input {
    border: none;
    border-bottom: 2px solid green;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    width: 40%;
    padding: 5px;   
    margin-bottom: 15px;
    color: #000;
}

.edituser-input:focus {
    outline: none;
    border-bottom: 2px solid darkgreen;
}