.edit-lot-header {
    margin-top: 15px;
    color: #b1b4b6;
    font-weight: bold;
}

.editparkinglot-label {
    color: #cd6250;
    font-weight: bold;
}

.editparkinglot-input {
    border: none;
    border-bottom: 2px solid green;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    width: 30%;
    padding: 5px;
    margin-bottom: 15px;
    color: #000;
}

.editparkinglot-input:focus {
    outline: none;
    border-bottom: 2px solid darkgreen;
}